/* Line Animations */
.continuous-line {
  background: linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 1.5px no-repeat;
  transition: 0.5s;
  width: fit-content;
}
.continuous-line:hover {
  --d: -101%;
}

/* Shine Button Animation */
.shine {
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
}
.shine::after {
  content: "";
  top: -50%;
  display: block;
  width: 40%;
  height: 200%;
  left: -55%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  transform: rotate(25deg);
  transition: 0.5s;
}
.shine:hover::after {
  left: 120%;
}
