/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* Root */
* {
  font-family: "Epilogue", sans-serif;
}
*:focus {
  outline: none !important;
}

/* App */
#root,
body {
  min-height: 100vh;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

/* Styles */
.bg-image {
  background: url(../public/assets/background.png) center;
  background-size: cover;
}

.bg-app-gradient {
  background: linear-gradient(to left, #391637, #25235d);
}
/* Btn */
.shine {
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
}

.shine::after {
  content: "";
  top: -50%;
  display: block;
  width: 40%;
  height: 200%;
  left: -55%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  transform: rotate(25deg);
  transition: 0.5s;
}
.shine:hover::after {
  left: 120%;
}
.bg-text-gradient {
  background: linear-gradient(
    287.43deg,
    #774dff 33.27%,
    rgb(35, 158, 185) 61.72%,
    rgb(215, 62, 135) 82.93%
  );
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
