/* Styles */
.bg-image {
  background: url(../public/assets/background.png) center;
  background-size: cover;
}

/* App most used Gradient */
.bg-app-gradient {
  background: linear-gradient(to left, #391637, #25235d);
}

/* Glassmorphism effect for hero header */
.glassmorphism {
  background: #ffffff20;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid #eeeeee30;
}

/* Poppins font */
.poppins {
  font-family: "Poppins", sans-serif;
}

/* Text Gradient */
.bg-text-gradient {
  background: linear-gradient(
    287.43deg,
    #774dff 33.27%,
    rgb(35, 158, 185) 61.72%,
    rgb(215, 62, 135) 82.93%
  );
  -webkit-background-clip: text !important;
  background-size: cover;
  -webkit-text-fill-color: transparent;
}

/* Shadow */
.white-light-shadow {
  box-shadow: rgb(0 0 0 / 3%) 0px 14px 36px, rgb(0 0 0 / 2%) 0px 30px 60px;
}
/* Menu Hover */
.menu-animation-hover {
  transition: 0.5s;
}
.menu-animation-hover:hover .span {
  transition: 0.5s;
  transform: scale(1.2);
}
.pulsate {
  background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 400% 200%;
  -webkit-animation: Wave 2.25s ease infinite;
  -moz-animation: Wave 2.25s ease infinite;
  animation: Wave 2.25s ease infinite;
}
